+++
date = '2026-02-20T21:31:57+03:00'
draft = false
title = 'Discord Age Verification'
+++
Discord officially announced its global age verification changes, including its new "Teen-by-Default" setting and Age Verification process on February 9, 2026

## Why is It Happening?

When how common and widespread social media has become is put under investigation, it is no one’s surprise that it has pros and cons. Recently, Discord, one of the biggest social media platforms amongst teens, pushed a new update to fight one of the biggest concerns of everyone. With this update, as long as the user doesn’t confirm their identity with their real ID cards, they will not be able to access certain features of Discord and will not be able to join servers that are for adults; this doesn’t necessarily mean NSFW servers.
 
So, if this new update looks this good on paper, why is there this much outrage against it?
 
## Here’s actually what happens:

As much as Discord claims that this update is for protecting the children on the application, there is more to it. Being able to use the internet anonymously of course has its ups and downs, but in the end, this was how it was meant to be used. What Discord actually wants to do is remove this anonymity and have millions of people’s data in their hands, giving them the choice to do whatever they want. The best example of this would be the agreement between ICE, the DOJ, and Discord. ICE and the DOJ asked Discord for the identities of people who criticize them, basically taking away their so-called ‘free speech’.
 
## How did users receive this update?

To put it plainly, terribly. For a platform that promised anonymity as one of its biggest features, taking it away was a big gamble. Said gamble didn’t pay off. From users to social media content creators, everybody raised their concerns. Nobody wanted this update to go through from the moment it was announced. But in the end, with the update being out, there was nothing users could do other than continuing to raise their voices and going as far as finding a new platform like Discord that still promised anonymity.
 
## What is going to be the aftermath of this?

To wrap it up, it is not looking good for users anymore. Being anonymous on social media was a curse and a blessing, but without it, there would be nothing but pain. Discord having this much data in their hands is a way bigger problem than the anonymity they are trying to destroy. If this continues to go on like this, it is not looking good for both sides. On the one hand, users are being forced to leave the platform they used for years and leave all the memories they made behind. On the other hand, this move was not worth its cost; Discord will continue to slowly bleed out and lose users as long as they keep up with this verification system.

Continued in next post.

Writer: merdagi